<h1 class="shift">Clue-Less</h1>
<hr>

<div class="shift">
  <% if current_user %>
    <h3>Hello, <%= current_user.first_name %> </h3>

    <p class="lead"><%= link_to 'New Game', new_game_path, class: 'btn btn-primary' %></p>

    <ul>
      <%= render @games %>
    </ul>

  <% end %>
</div>
